html {
	--spacing-1: 0.25rem;
	--spacing-2: 0.5rem;
	--spacing-3: 1rem;
	--spacing-4: 1.5rem;
	--spacing-5: 2rem;
	--spacing-6: 3rem;
	--spacing-7: 4rem;
	--text-size-h1: 2.4rem;
	--text-size-h2: 2.2rem;
	--text-size-h3: 2rem;
	--text-size-h4: 1.8rem;
	--text-size-h5: 1.6rem;
	--text-size-h6: 1.4rem;
	--text-size-normal: 1.2rem;
	--main-text-color: #000000;
	--main-background-color: #f0f0f0;
	--main-font-family: "Lucida Grande", "Lucida Sans", Tahoma, Verdana,
		sans-serif;
	--visited-link-text-color: #333333;
}
