nav.nav-bar {
    display: flex;
    div.nav-logo {
    }
    ul.nav-list {
        li.nav-item {
            a {
            }
            a.active {
            }
        }
    }
}

header {
    nav#main-nav-bar {
        width: 100%;
        height: 100%;
        div#main-nav-logo {
        }
        ul#main-nav-list {
            li.nav-item {
                a {
                }
                a.active {
                }
            }
        }
    }
}

footer {
    display: flex;
}
